.env
.venv/

notebooks/output.html
notebooks/output.json
notebooks/dataset.json
notebooks/dataset-exercise.json

notebooks/Features/images
notebooks/Features/earth.pdf
notebooks/Features/streaming.csv